{% extends "layout.html" %}
{% block content %}
    
<div class=" mb-3" style="margin-left: 10%;width: 80%">
  <img style="width: 60%; height:500px;margin-left:20% " src="https://media2.giphy.com/media/8L0Pky6C83SzkzU55a/giphy.gif" class="card-img-top" alt="Error 404">
  <div class="card-body">
    <!-- <h5 class="card-title">Oops. Page Not Found (404)</h5> -->
    <div class="text-center"> 
    <p class="card-text ">This page is not existed yet and I ain't god who can make requested page out of thin air. <br> Consider my opinion , try again with different result and also with correct one. </p>
    <a href="{{ url_for('landing')}}"class="btn btn-outline-danger">Home</a>
    <a style="margin-left: 2%" href="{{ url_for('home')}}"class="btn btn-outline-danger">Main Page</a>

    </div>
  </div>
</div>

{% endblock content %}
