{% extends "layout.html" %}
{% block content %}
<br><br><br><br><br>
<link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
<div class="text-center" style="width: 90%; margin-left: 5%;">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
      <h1 style="font-family: 'Satisfy', cursive;" class="cover-heading">About // अबाउट</h1> <br>
      <p  style="" class="lead">Be loud ... Turn on Your Mind Bulb - share your ideas, target the right people, and raise awareness. With this platform help and your ideas, you will be able to effectively promote any network, be it a political, music, religious, arts, or any other type of online communities build on this website. Here you can connect to othrts users. Your ideas should be visible on social network
  	  </p>
  	  <h1 style="font-family: 'Satisfy', cursive;" class="cover-heading">-Be vivid</h1> <br>
      <p class="lead">
        <a href="{{ url_for('home')}}" class="btn btn-lg btn-outline-secondary">Main Page</a>
      </p>
    </main>
  </div>
</div>
{% endblock content %}

Be loud ... Turn on Your Mind Bulb - share your ideas, target the right people, and raise awareness. With this platform help and your ideas, you will be able to effectively promote any network, be it a political, music, religious, arts, or any other type of online communities build on this website. Here you can connect to othrts users. Your ideas should be visible on social network
<br>Be vivid 